<!doctype html>
<html ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
     <h5>This submission does NOT count empty item (i.e. "chicken,fish, ,sushi" counts as 3 items instead of 4)</h5>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="menuList"
             ng-style="customStyle.boxStyle">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="CheckForLunch()">Check If Too Much</button>
         </div>
         <div class="form-group message" ng-style="customStyle.style">
           <!-- Your message can go here. -->
           {{message}}
           <!-- Displaying debug message -->
           <!-- raw menu list: {{menuList}}<br>
           Array of menu list: {{menuListToArray()}}<br>
           Empty string in the list: {{emptyMenuList}}<br>
           Total length: {{menuListLength}} -->
         </div>
   </div>

</body>
</html>
